{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD8ELTB50H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CD8ELTB50H');
    </script>
    <!-- Schema -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "HomeGoodsStore",
            "name": "Decortinas y Persianas",
            "description": "Fabricamos y vendemos toldos, cortinas y persianas Modernas en Antioquia / Envíos nacionales e instalación sin costo",
            "priceRange": "$90,000 - $250,000 COP",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Cr 62#45b42",
                "addressLocality": "Rionegro",
                "addressRegion": "Antioquia",
                "postalCode": "054040",
                "addressCountry": "Colombia"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 6.151411473007976,
                "longitude": -75.3820416
            },
            "telephone": "+573016344239",
            "openingHoursSpecification": [
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday"
                    ],
                    "opens": "08:20",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Saturday",
                    "opens": "08:00",
                    "closes": "16:00"
                }
            ],
            "logo": "https://www.decortinasypersianas.co/static/img/logo-og.jpg",
            "image": "https://www.decortinasypersianas.co/static/img/img-intro.66ea56764cee.jpg",
            "url": "https://www.decortinasypersianas.co/",
            "sameAs": [
                "https://www.facebook.com/cortinasypersianasrionegro",
                "https://www.instagram.com/decortinas1/",
                "https://www.youtube.com/@decortinaseinteriores3203"
            ],
            "offers": [
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Persiana Vertical",
                        "description": "Transforma tus espacios con las elegantes y prácticas persianas verticales. Con su diseño moderno y funcional, estas persianas te permitirán controlar la cantidad de luz que ingresa a tus ambientes.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/persiana-vertical-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=S%2B06JS6VOVg6kp4UnifcHOAX%2BNg%3D&Expires=1684174276",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "110000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/persiana-vertical/"
                        }
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Bambulitas",
                        "description": "Transforma tu hogar en un oasis natural con las cortinas Bambulitas. Fabricadas con madera 100% natural de alta calidad, estas persianas añaden un toque de estilo rústico y ecológico a cualquier habitación.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/bambulitas-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=fB5s0SNyrkfTwe7Cx34sYU07lBY%3D&Expires=1684174586",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "250000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/bambulitas/"
                        }
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Enrrollable Screen",
                        "description": "Su pantalla enrollable reduce el deslumbramiento y protege tus muebles un 99% de la lluvia, vientos y de la decoloración causada por los rayos UV.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/enrollable-screen-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=VEz1R9T99dGwGx7oKlPVK97rkAM%3D&Expires=1684174724",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "110000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/enrrollable-screen/"
                        }
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Panel Japonés",
                        "description": "Los paneles japoneses son una opción moderna y minimalista para cubrir tus ventanas con elegancia. Ofrecen privacidad y control de luz, además de ser altamente personalizables gracias a su amplia gama de telas.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/panel-japones-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=yylcoByQetJRXHSvQdyEPeWg7xE%3D&Expires=1684174832",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "130000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/panel-japones/"
                        }
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Sheer Elegance",
                        "description": "Disfruta de la luz natural en tu hogar con las persianas Sheer Elegance. Con su diseño sofisticado y su textura suave, estas persianas te ofrecen la privacidad que necesitas sin comprometer la luminosidad de tu espacio.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/sheer-elegance-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=p3v5EL9otwqEXN7sAXRPS%2FGMlnU%3D&Expires=1684174994",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "180000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/sheer-elegance/"
                        }
                    }
                },
                {
                    "@type": "Offer",
                    "itemOffered": {
                        "@type": "Product",
                        "name": "Enrrollable Blackout",
                        "description": "Transforma cualquier habitación en un oasis de oscuridad y tranquilidad con los enrrollables blackout. Con su tela opaca de alta calidad y bloquean completamente la luz del sol, ofreciendo privacidad y creando un ambiente acogedor y relajante en tu hogar.",
                        "brand": "Decortinas y Persianas",
                        "image": "https://imagenes-decortinas.s3.amazonaws.com/imagenes-decortinas/blackout-a.jpg?AWSAccessKeyId=AKIA3AAIY6NM3LXI3AB5&Signature=4pZ7cH%2BqGYyRCYmH8DM8izQL8eY%3D&Expires=1684175098",
                        "offers": {
                            "@type": "Offer",
                            "priceCurrency": "COP",
                            "price": "90000.00",
                            "availability": "https://www.decortinasypersianas.co/tienda/enrrollable-blackout/"
                        }
                    }
                }
            ]
        }
    </script>
    <!-- Title -->
    <!-- Propiedades OG -->
    <meta property="og:title"
        content="{% block ogtitle %}{{ ogtitle }}{% endblock %} | Decortinas y Persianas en Antioquia">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% block ogurls %}{{ ogurl }}{% endblock %}">
    <meta property="og:image" content="{% block ogurlimg %}{{ ogurlimg }}{% endblock %}">
    {% if request.path == '/' %}
    <meta property="og:image" content="https://www.decortinasypersianas.co/static/img/logo-og.jpg">
    {% else %}
    <meta property="og:image:secure_url" content="{% block oguimg %}{{ oguimg }}{% endblock %}">
    {% endif %}
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:local" content="es_LA">
    <meta property="og:description"
        content="{% block ogdesc %}{{ ogdesc }}{% endblock %} Cortinas y Persianas Modernas | Instalación sin costo">
    <meta property="og:site_name" content="k1n0c0m">
    <title>{% block title %}{% endblock %} | Decortinas y Persianas</title>
    <!-- <title>Cortinas y Persianas | Decortinas e Interiores</title> -->
    <meta name="description"
        content="{% block mdescription %}{{ mdescription }}{% endblock %} Decortinas y Persianas | Instalación sin costo y envíos a todo el país">
    <meta name="keywords" content="{% block keywords %}{{ keywords }}{% endblock %}">
    <meta name="author" content="k1n0">
    <!-- Fuentes de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    <!-- hreflang -->
    <link rel="alternate" hreflang="es-CO" href="..." />
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    {% include 'partials/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.html' %}
    {% include 'partials/scripts.html' %}
</body>

</html>