<div class="promo">
    <div class="container">
        <div class="promo__header">
            <h3 class="promo__header--title">Promociones imperdibles</h3>
            <p class="promo__header--subtitle">Aprovecha las ofertas de este mes</p>

            <div class="contador__fecha">
                <div class="contador--count">
                    <div class="responsivo1">
                        <div class="cartel">
                            <div class="dias" id="dias"></div>
                            <p class="timer">Días</p>
                        </div>
                        <div class="cartel">
                            <div class="horas" id="horas"></div>
                            <p class="timer">Horas</p>
                        </div>
                    </div>
                    <div class="responsivo2">
                        <div class="cartel">
                            <div class="minutos" id="minutos"></div>
                            <p class="timer">Minutos</p>
                        </div>
                        <div class="cartel">
                            <div class="segundos" id="segundos"></div>
                            <p class="timer">Segundos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>