{% load static %}
<div class="promo">
    <div class="promo__header container">
        <h3 class="promo__header--title"><strong>Promociones imperdibles</strong></h3>
        <p class="promo__header--subtitle">Aprovecha las ofertas de este mes</p>
    </div>

    <div class="promo__body">
        <a href="" class="promo__body--link">
            <img src="{% static 'img/banner-promo.jpg' %}" alt="" class="promo__body--img">
        </a>

        <div class="container">
            <a href="{% url 'tienda' %}" class="promo__body--btn"><strong>¡Llévala Hoy!</strong></a>
        </div>
    </div>

    <div class="promo__footer container">
        <div class="pf__header">
            <p class="pf__header--title"><strong>Sólo quedan:</strong></p>
        </div>
        <div class="promo__footer--counter d-flex text-center">
            <div class="contador">
                <div class="cartel">
                    <div class="space dias" id="dias"></div>
                    <p class="timer">Días</p>
                </div>
                <div class="cartel">
                    <div class="space horas" id="horas"></div>
                    <p class="timer">Horas</p>
                </div>
                <div class="cartel">
                    <div class="space minutos" id="minutos"></div>
                    <p class="timer">Minutos</p>
                </div>
                <div class="cartel">
                    <div class="space segundos" id="segundos"></div>
                    <p class="timer">Segundos</p>
                </div>
            </div>
        </div>
    </div>
</div>