* {
    font-family: 'Mulish', sans-serif;
}


body {
    min-height: calc(100vh - 50px);
    /* ajustar según la altura del footer */
    position: relative;
}

.navbar-brand {
    .navbar__brand--img {
        width: 80px;
    }
}

nav {
    .navbar__brand--img {
        width: 80px;
    }

    .container-fluid {
        .navbar-right {
            display: flex;
            align-items: center;

            .navbar-social {
                .navbar-social--link {
                    text-decoration: none;
                    font-size: 32px;
                    color: $Aq;

                    &:hover {
                        transition: all .6s;
                        color: $Yl;
                    }
                }
            }
        }
    }
}

.carousel {
    margin-top: 100px;
}