{% extends 'base/index.html' %}
{% block ogtitle %}{{ pageogtitle }}{% endblock %}
{% block ogdesc %}{{ pageogdesc }}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
<!-- <title>Contacto 📱 Cortinas y Persianas | Decortinas e Interiores</title> -->
{% block content %}
{% load static %}
<div class="img__baner">
    <img src="{% static 'img/banner-contacto.jpg' %}" alt="Contacto Decortinas" class="img__banner--img">
    <img src="{% static 'img/banner-contacto-mov.jpg' %}" alt="Contacto Decortinas" class="img__banner--imgmov">
</div>

<div class="contacto">
    <div class="container migapan">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
            </ol>
        </nav>
    </div>

    <div class="contacto__header text-center container">
        <h1 class="contacto__header--title"><strong>Contáctanos | Decortinas e Interiores</strong></h1>
        <h2 class="contacto__header--subtitle">Encuéntranos en Rionegro, Antioquia</h2>
    </div>

    <div class="contacto__body">
        <div class="contacto__body--map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15867.458955452865!2d-75.39067463423301!3d6.1488617551187925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469fecc02d2d7d%3A0xc28c86da7239fb2e!2sCortinas%20y%20persianas%20Decortinas!5e0!3m2!1ses-419!2sco!4v1683239816231!5m2!1ses-419!2sco"
                style="border:0;" zoom="15" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div class="contacto__body--info">
                <div class="cb__info--content">
                    <h4 class="cbi__content--header">
                        <strong>Estamos en Rionegro/Antioquia</strong>
                    </h4>
                    <div class="cbi__content--body">
                        <ul class="cbic__body--list">
                            <li class="cbicb__list--item">
                                <a href="https://bit.ly/mpdecortinas" class="cbicbl__item--link icon-location-circled"
                                    target="_blank" rel="nofollow"> Cr 62 #45b42</a>
                            </li>
                            <li class="cbicb__list--item">
                                <a href="https://bit.ly/wpdecortinas" class="cbicbl__item--link icon-whatsapp"
                                    target="_blank" rel="nofollow"> 301 634 4239</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cb__info--content">
                    <h4 class="cbi__content--header">
                        <strong>Síguenos en Redes Sociales</strong>
                    </h4>
                    <div class="cbi__content--body">
                        <ul class="cbic__body--list">
                            <li class="cbicb__list--item">
                                <a href="https://bit.ly/3KXCUqj" class="cbicbl__item--link icon-facebook-squared"
                                    target="_blank" rel="nofollow"> /cortinasypersianasrionegro</a>
                            </li>
                            <li class="cbicb__list--item">
                                <a href="https://bit.ly/igdecortinas" class="cbicbl__item--link icon-instagram"
                                    target="_blank" rel="nofollow"> /decortinas1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/comments.html' %}
</div>

{% endblock %}