{% extends 'base/index.html' %}
{% block ogtitle %}{{ pageogtitle }}{% endblock %}
{% block ogdesc %}{{ pageogdesc }}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
{% block content %}
{% load static %}
<div class="img__baner">
    {% if pagebanner %}
    <img src="{{ pagebanner.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--img">
    {% endif %}
    {% if pagebannermov %}
    <img src="{{ pagebannermov.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--imgmov">
    {% endif %}
</div>

<div class="nosotros">
    <div class="container migapan">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ pagename }}</li>
            </ol>
        </nav>
    </div>

    <div class="nosotros__header text-center container">
        <h1 class="nosotros__header--title"><strong>{{ pagetitle }}</strong></h1>
        <h2 class="nosotros__header--subtitle">{{ pageslogan }}</h2>
    </div>

    <div class="nosotros__body container">
        <div class="nosotros__body--item">
            <img src="{% static 'img/nosotros/nosotros-a.png' %}" alt="" class="nb__item--img--mov">
            <img src="{% static 'img/nosotros/nosotros-a.png' %}" alt="" class="nb__item--img">
            <p class="nb__item--txt">
                Bienvenidos a <strong>Decortinas y Perisnas</strong>, somos una empresa especializada en la fabricación,
                mantenimiento e instalación de cortinas y persianas en Colombia. Con más de 10 años en el mercado, hemos
                logrado posicionarnos como una de las mejores opciones en el sector, gracias a la <strong>pasión y
                    dedicación</strong> que ponemos en cada uno de nuestros productos y servicios.
            </p>
        </div>
        <div class="nosotros__body--item">
            <img src="{% static 'img/nosotros/nosotros-b.png' %}" alt="" class="nb__item--img--mov">
            <p class="nb__item--txta">
                Nos enorgullece decir que trabajamos con <strong>materiales 100% colombianos</strong>, lo que nos
                permite garantizar la calidad y durabilidad de cada uno de nuestros productos. Además, nos enfocamos en
                ofrecer un servicio de excelencia, desde la atención al cliente hasta la entrega final de nuestros
                productos.
            </p>
            <img src="{% static 'img/nosotros/nosotros-b.png' %}" alt="" class="nb__item--img">
        </div>
        <div class="nosotros__body--item">
            <img src="{% static 'img/nosotros/nosotros-c.png' %}" alt="" class="nb__item--img--mov">
            <img src="{% static 'img/nosotros/nosotros-c.png' %}" alt="" class="nb__item--img">
            <p class="nb__item--txt">
                En <strong>Decortinas y Perisnas</strong>, no solo nos dedicamos a la venta de cortinas y persianas,
                sino que también brindamos un servicio integral de mantenimiento, asegurándonos de que nuestros clientes
                puedan disfrutar de sus productos por muchos años. Asimismo, ofrecemos una <strong>instalación
                    profesional sin costo adicional</strong>, lo que hace que el proceso de adquisición sea aún más ágil
                y cómodo para nuestros clientes.
            </p>
        </div>
        <div class="nosotros__body--item">
            <img src="{% static 'img/nosotros/nosotros-d.png' %}" alt="" class="nb__item--img--mov">
            <p class="nb__item--txta">
                Nuestro equipo de trabajo está conformado por <strong>profesionales apasionados y altamente
                    capacitados</strong>, que se encargan de diseñar, fabricar e instalar cada una de nuestras cortinas
                y persianas con el mayor cuidado y atención al detalle. Nos encanta lo que hacemos y eso se ve reflejado
                en la calidad de nuestros productos y servicios.
            </p>
            <img src="{% static 'img/nosotros/nosotros-d.png' %}" alt="" class="nb__item--img">
        </div>
        <div class="nosotros__body--item">
            <img src="{% static 'img/nosotros/nosotros-e.png' %}" alt="" class="nb__item--img--mov">
            <img src="{% static 'img/nosotros/nosotros-e.png' %}" alt="" class="nb__item--img">
            <p class="nb__item--txt">
                En resumen, si buscas una empresa confiable y comprometida con la calidad en la <strong>fabricación,
                    mantenimiento e instalación de cortinas y persianas</strong>, no dudes en elegirnos. Nos aseguramos
                de trabajar con pasión y dedicación en cada uno de nuestros proyectos, para brindar una experiencia
                única y satisfactoria a nuestros clientes. ¡Contáctanos y descubre todo lo que podemos hacer por ti!
            </p>
        </div>
    </div>

    {% include 'partials/comments.html' %}
</div>

{% endblock %}