{% extends 'base/index.html' %}
{% block content %}
<div class="nosotros">
    <div class="container migapan">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
            </ol>
        </nav>
    </div>
</div>

<h1 style="margin-top: 140px;">Nosotros somos | Decortinas e Interiores</h1>

{% endblock %}