{% extends 'base/index.html' %}
{% block ogtitle %}{{ pageogtitle }}{% endblock %}
{% block ogdesc %}{{ pageogdesc }}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
{% block content %}
{% load static %}
<div class="img__baner">
    {% if pagebanner %}
    <img src="{{ pagebanner.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--img">
    {% endif %}
    {% if pagebannermov %}
    <img src="{{ pagebannermov.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--imgmov">
    {% endif %}
</div>

<div class="pauta">
    <div class="container migapan">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ pagename }}</li>
            </ol>
        </nav>
    </div>

    <div class="pauta__header text-center container">
        <h1 class="pauta__header--title"><strong>{{ pagetitle }}</strong></h1>
        <h2 class="pauta__header--subtitle">{{ pageslogan }}</h2>
    </div>

    <div class="pauta__body container">
        <p class="pauta__body--intro text-center">
            Potencia la visibilidad de tu empresa pautando con Decortinas y Persianas. Llega a tu público objetivo a
            través de
            nuestro sitio web y redes sociales.<br>¡Haz crecer tu negocio con pauta!
        </p>

        <div class="pauta__body--item">
            <img src="{% static 'img/pauta/web.png' %}" alt="{{ pagename }}" class="pb__item--img">
            <img src="{% static 'img/pauta/web.png' %}" alt="{{ pagename }}" class="pb__item--imgmov">
            <p class="pb__item--txt">
                <strong>Pauta en web</strong><br>Destaca tu empresa con nuestros banners publicitarios en nuestro sitio
                web. Llega a
                nuestra audiencia de
                clientes potenciales interesados en decoración y hogar.
            </p>
        </div>

        <div class="pauta__body--item">
            <img src="{% static 'img/pauta/redes-sociales.png' %}" alt="{{ pagename }}" class="pb__item--imgmov">
            <p class="pb__item--txta">
                <strong>Pauta en Facebook/Instagram</strong><br>Aprovecha nuestra presencia en redes sociales para
                promocionar tu empresa. Como
                patrocinador o sponsor de Decortinas y Persianas, estarás presente en nuestra comunidad de seguidores.
            </p>
            <img src="{% static 'img/pauta/redes-sociales.png' %}" alt="{{ pagename }}" class="pb__item--img">
        </div>

        <div class="pauta__body--item">
            <img src="{% static 'img/pauta/youtube.png' %}" alt="{{ pagename }}" class="pb__item--img">
            <img src="{% static 'img/pauta/youtube.png' %}" alt="{{ pagename }}" class="pb__item--imgmov">
            <p class="pb__item--txt">
                <strong>Pauta en YouTube</strong><br> Muestra tus productos y servicios en nuestros videos a modo de
                comerciales. Llega a nuestra audiencia
                en YouTube interesada en decoración y hogar, y amplía el alcance de tu empresa con pauta.
            </p>
        </div>
    </div>

    <div class="pauta__footer container text-center">
        <h4 class="pauta__footer--title">Escríbenos para más información:</h4>
        <a href="https://bit.ly/wpdecortinas" target="_blank" rel="nofollow" class="pauta__footer--link icon-whatsapp">
            301 634 4239</a>
    </div>

    {% include 'partials/promo.html' %}
</div>
{% endblock %}