{% extends 'base/index.html' %}
{% block ogtitle %}{{ pageogtitle }}{% endblock %}
{% block ogdesc %}{{ pageogdesc }}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
{% block content %}
{% load static %}
<div class="img__baner">
    {% if pagebanner %}
    <img src="{{ pagebanner.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--img">
    {% endif %}
    {% if pagebannermov %}
    <img src="{{ pagebannermov.url }}" alt="{{ pagename }} Decortinas y Persianas" class="img__banner--imgmov">
    {% endif %}
</div>

<div class="servicios">
    <div class="container migapan">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ pagename }}</li>
            </ol>
        </nav>
    </div>

    <div class="servicios__header text-center container">
        <h1 class="servicios__header--title"><strong>{{ pagetitle }}</strong></h1>
        <h2 class="servicios__header--subtitle">{{ pageslogan }}</h2>
    </div>

    <div class="servicios__body container">
        <div class="servicios__body--item">
            <img src="{% static 'img/nosotros/nosotros-a.png' %}" alt="" class="sb__item--img--mov">
            <img src="{% static 'img/nosotros/nosotros-a.png' %}" alt="" class="sb__item--img">
            <p class="sb__item--txt">
                Nuestro servicio de mantenimiento es esencial para el cuidado y la prolongación de la vida útil de tus
                cortinas, persianas y toldos. Incluye <strong>reparación, lavado y mantenimiento general</strong>, para que siempre se mantengan
                en perfectas
                condiciones y puedas disfrutar de su belleza y funcionalidad por más tiempo. Confía en nuestros expertos
                para cuidar tus
                cortinas, persianas y toldos.
            </p>
        </div>
        <div class="servicios__body--item">
            <img src="{% static 'img/nosotros/nosotros-b.png' %}" alt="" class="sb__item--img--mov">
            <p class="sb__item--txta">
                Envío e instalación sin costo: <strong>¿Quieres renovar tus cortinas, persianas o toldos?</strong> ¡No te preocupes por los
                costos de envío e
                instalación! En nuestra empresa, estos servicios son completamente gratuitos para ti. Nos encargamos de
                todo, <strong>desde el
                    envío hasta la instalación</strong>, para que puedas disfrutar de tus nuevos productos sin complicaciones.
            </p>
            <img src="{% static 'img/nosotros/nosotros-b.png' %}" alt="" class="sb__item--img">
        </div>
        <div class="servicios__body--item">
            <img src="{% static 'img/nosotros/nosotros-d.png' %}" alt="" class="sb__item--img--mov">
            <img src="{% static 'img/nosotros/nosotros-d.png' %}" alt="" class="sb__item--img">
            <p class="sb__item--txta">
                <strong>Asesoramiento general para la instalación y el mantenimiento:</strong> En nuestra empresa, no solo te ofrecemos
                servicios de
                mantenimiento y envío e instalación gratuitos, también te brindamos asesoramiento general para que
                puedas tomar las
                mejores decisiones a la hora de instalar o dar mantenimiento a tus cortinas, persianas y toldos.
            </p>
        </div>
    </div>
    <div class="servicios__footer container">
        <p class="servicios__footer--txt text-center">
            Nuestros expertos te guiarán en todo momento para que puedas elegir los productos que mejor se adapten a tus
            necesidades y para que sepas cómo cuidarlos adecuadamente. Con nuestro servicio de asesoramiento, tendrás la
            tranquilidad de saber que estás haciendo lo mejor para tus <strong>cortinas, persianas y toldos</strong>.
        </p>
    </div>

    {% include 'partials/comments.html' %}
</div>



{% endblock %}